# This is the codeowners file for the project
.github/CODEOWNERS  @mnscpd-sre @presto2116 @joey-manscaped

# SRE Team CODEOWNERS
.github/workflows/commitlint.yml  @mnscpd-sre
.github/workflows/mnscpd-tag.yml  @mnscpd-sre
.github/workflows/mnscpd-core-app-dispatch.yml  @mnscpd-sre
.github/workflows/mnscpd-core-cf-dispatch.yml @mnscpd-sre
.github/workflows/shellcheck.yml  @mnscpd-sre
.github/workflows/shell/**  @mnscpd-sre
.mnscpd-sre/  @mnscpd-sre

